@page
@{
}

<div>

    <table>

        <tbody>
            <tr>
                <td>Book Number</td>
                <td><input type="text" name="booknumber"/></td>
            </tr>

        </tbody>

        </table>
</div>
