@{
    ViewData["Title"] = "Home Page";
}


<body>


    <div class="div_navigation" >
        <div class="div_list">
            <a  class="a_menu" href="#">Resource</a>
            <a  class="a_menu" href="#">Playlist</a>
            <a  class="a_menu" href="#">Topic</a>
            <a  class="a_menu" href="#">Learning Paths</a>
            <a  class="a_menu" href="#">Topics</a>
            <a  class="a_menu" href="#">NewsLetters</a>
            <a  class="a_menu" href="#">Highlights</a>
            <a  class="a_menu" href="#">Settings</a>
            <a  class="a_menu" href="#">Support</a>
            <a  class="a_menu" href="#">Sign Out</a>

        </div>

    </div>

    <div class="div_Page_Body">

        <div class="div_Page_Part1">
            <h4>You Recently Browsed</h4>
            <div class="div_card_list">
                List of Books
                <br>
                <div class="card">
                        <div class="card-body">Basic card</div>
                      </div>
                      <div class="card">
                            <div class="card-body">Basic card</div>
                          </div>
            </div>

            <div class="div_card_list">
                Popular Books
                <br>
                <div class="card">
                        <div class="card-body">Basic card</div>
                      </div>
                      <div class="card">
                            <div class="card-body">Basic card</div>
                          </div>
            </div>

            <div class="div_card_list">
                Upcoming B
                <br>
                <div class="card">
                        <div class="card-body">Basic card</div>
                      </div>
                      <div class="card">
                            <div class="card-body">Basic card</div>
                          </div>
            </div>

        </div>


    </div>

</body>


